* {
  box-sizing: border-box;
}
html,
body {
  font-family: 'TTNormal', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}
body {
  color: white;
  a {
    color: white;
  }

  .background-color {
    background: linear-gradient(
                    14deg,
                    rgba(50, 50, 100, 1),
                    rgba(50, 50, 100, 1),
                    rgba(122, 66, 94, 1)
    );
  }
}
.header__logo__container {
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 20px;
  margin-right: 17px;
}
.nav__list li:hover, .active {
  border-bottom: 2px solid #FFFFFF;
  box-sizing: border-box;

}

.nav {
  margin-top: 0;
}
.header__logo__container__menu {
  width: 152px;
}
@media screen and (min-width: 400px) {
  .header__logo__container__menu {
    width: 248px;
  }
}
@media screen and (min-width: 800px) {
  .header__select {
    margin-right: 0;
  }
  .nav__item {
    margin-left: 0;
  }
  .header__logo__container {
    padding-bottom: 0;
    height: 77px;
  }
}
@media screen and (min-width: 900px) {
  .nav__item {
    margin-left: 7.5px;
  }
  .header__logo__container__menu {
    width: 450px;
  }
}
