.container_five__confidence__title {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}
.container_five__confidence__list {
  display: flex;
  flex-wrap: wrap;
}
.container_five__confidence__item {
  display: flex;
  justify-content: center;
  height: 90px;
  width: 50%;
  align-items: center;
  img {
    width: 80%;
  }
}
.confidence__item_hillel {
  background-color: #1c4280;
  img {
    width: 84%;
  }
}
.confidence__item_wanna {
  background: #143646;
  img {
    width: 89%;
  }
}
.confidence__item_tapgerine {
  background: #f48b30;
}
.confidence__item_3dLook {
  background: #9e4dc3;
}
.confidence__item_eco {
  background: #dcf3f9;
  img {
    width: 55%;
  }
}
.confidence__item_clickky {
  background: #c71c36;
  img {
    width: 57%;
  }
}
.confidence__item_orangear {
  background: #fd9339;
  img {
    width: 76%;
  }
}
.confidence__item_infratek {
  background: #eaeaea;
  img {
    width: 63%;
  }
}
.confidence__item_ultimate {
  background: #000000;
  img {
    width: 59%;
  }
}
.confidence__item_artprint {
  background: #1d4568;
  img {
    width: 72%;
  }
}
.confidence__item_citypark {
  background: #282240;
  img {
    width: 70%;
  }
}
.confidence__item_adtelligent {
  background: #e2e2e4;
  img {
    width: 68%;
  }
}
@media screen and (min-width: 600px) {
  .confidence__item_hillel {
    background-color: #1c4280;
    img {
      width: 50%;
    }
  }
  .confidence__item_wanna {
    background: #143646;
    img {
      width: 55%;
    }
  }
  .confidence__item_tapgerine {
    background: #f48b30;
    img {
      width: 49%;
    }
  }
  .confidence__item_3dLook {
    background: #9e4dc3;
    img {
      width: 50%;
    }
  }
  .confidence__item_eco {
    background: #dcf3f9;
    img {
      width: 30%;
    }
  }
  .confidence__item_clickky {
    background: #c71c36;
    img {
      width: 37%;
    }
  }
  .confidence__item_orangear {
    background: #fd9339;
    img {
      width: 48%;
    }
  }
  .confidence__item_infratek {
    background: #eaeaea;
    img {
      width: 50%;
    }
  }
  .confidence__item_ultimate {
    background: #000000;
    img {
      width: 35%;
    }
  }
  .confidence__item_artprint {
    background: #1d4568;
    img {
      width: 52%;
    }
  }
  .confidence__item_citypark {
    background: #282240;
    img {
      width: 50%;
    }
  }
  .confidence__item_adtelligent {
    background: #e2e2e4;
    img {
      width: 51%;
    }
  }
}
@media screen and (min-width: 1120px) {
  .container_five__confidence__item {
    width: 25%;
    height: 120px;
  }
  .confidence__item_hillel {
    background-color: #1c4280;
    img {
      width: 60%;
    }
  }
  .confidence__item_wanna {
    background: #143646;
    img {
      width: 55%;
    }
  }
  .confidence__item_tapgerine {
    background: #f48b30;
    img {
      width: 49%;
    }
  }
  .confidence__item_3dLook {
    background: #9e4dc3;
    img {
      width: 50%;
    }
  }
  .confidence__item_eco {
    background: #dcf3f9;
    img {
      width: 40%;
    }
  }
  .confidence__item_clickky {
    background: #c71c36;
    img {
      width: 37%;
    }
  }
  .confidence__item_orangear {
    background: #fd9339;
    img {
      width: 48%;
    }
  }
  .confidence__item_infratek {
    background: #eaeaea;
    img {
      width: 50%;
    }
  }
  .confidence__item_ultimate {
    background: #000000;
    img {
      width: 42%;
    }
  }
  .confidence__item_artprint {
    background: #1d4568;
    img {
      width: 52%;
    }
  }
  .confidence__item_citypark {
    background: #282240;
    img {
      width: 50%;
    }
  }
  .confidence__item_adtelligent {
    background: #e2e2e4;
    img {
      width: 51%;
    }
  }
}
