@font-face {
  font-family: 'TTNorms-Bold', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/TTNorms-Bold.woff2);
}
@font-face {
  font-family: 'TTNorms-Regular', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/TTNorms-Regular.woff2);
}
